@import '../../bower_components/normalize.css/normalize.css'
@import '../../bower_components/swiper/dist/css/swiper.css'

@-webkit-keyframes flower
    0%
        -webkit-transform:scale(0.3)
        opacity:0
    60%
        -webkit-transform:scale(1)
        opacity:1
    100%
        -webkit-keyframes:scale(1.2)
        opacity:0
        
@-webkit-keyframes up-animation 
    0%,100% 
        -webkit-transform:scale(1)
        opacity:.9
    
    1%,99% 
        -webkit-transform:translateY(0)
    
    49% 
        -webkit-transform:translateY(-15px)
    
    50% 
        opacity:0
        -webkit-transform:scale(0.2)
        
animation(time,name,delay) 
    -webkit-animation-duration:time
    -webkit-animation-name:name
    -webkit-backface-visibility: hidden
    -webkit-animation-timing-function: ease
    -webkit-animation-fill-mode: both
    -webkit-animation-delay:delay
* 
    -webkit-user-select: none
    -ms-user-select: none
    -moz-user-select: none
    -khtml-user-select: none
    user-select: none
    -webkit-touch-callout:none
    -webkit-tap-highlight-color:transparent
    


background(image) 
    height:100%
    width:100%
    background-image:url('/static/image/'+image)
    background-repeat:no-repeat
    background-position:bottom center
    background-size:100% 100%
    z-index:1
    position:relative
image-wauto(image) 
    background-image:url('/static/image/'+image)
    background-repeat:no-repeat
    background-position:top center
    background-size:100% auto

image-hauto(image) 
    background-image:url('/static/image/'+image)
    background-repeat:no-repeat
    background-position:top center
    background-size:auto 100%

image-fit(image) 
    background-image:url('/static/image/'+image)
    background-repeat:no-repeat
    background-position:top center
    background-size:100% 100%

@font-face
    font-family:font
    src:url('/static/image/font.ttf')



.up 
    -webkit-animation-name:up-animation
    -webkit-animation-duration: 1.5s!important
    -webkit-animation-timing-function: ease
    -webkit-animation-iteration-count:infinite
    -webkit-animation-fill-mode:both
    image-wauto('up.png')
    height:0.1rem
    width:0.08rem
    position:absolute
    bottom:0
    z-index:5
    left:0.46rem

body 
    height:100%
    position:absolute
    font-size: 14px
    color: #333 
    font-family: '微软雅黑'
    background-color: #fff
    letter-spacing: 1px
    margin:0 auto
    box-shadow: 0 0 160px 0 #5C99E7
    -webkit-user-select: none
    background-size:cover
    width:100%
    box-sizing:border-box
    .swiper-container 
        width:100%
        height:100vh
        display:none
        position:relative
    .page1 
        .car-icon
            position:absolute
            width:0.16rem
            height:0.18rem
            image-wauto('car.png')
            bottom:0.1rem
            right:0.1rem
            z-index:100
        .background 
            background('background1.jpg')
            display:block
    .page2 
        .car-icon
            position:absolute
            width:0.16rem
            height:0.18rem
            image-wauto('car.png')
            bottom:0.1rem
            right:0.1rem
            z-index:100
        .background 
            background('background2.jpg')
            display:block
    .page3 
        .car-icon
            position:absolute
            width:0.16rem
            height:0.18rem
            image-wauto('car.png')
            bottom:0.1rem
            right:0.1rem
            z-index:100
        .background 
            background('background3.jpg')
            display:block
    .page4 
        .ask
            position:absolute
            width:0.16rem
            height:0.18rem
            image-wauto('ask.png')
            bottom:0.1rem
            left:0.42rem
            z-index:100
        .background 
            background('1.jpg')
            display:block
    .nav
        position:absolute
        top:0.05rem
        height:0.1rem
        width:100%
        z-index:100
        .logo
            width:0.36rem
            position:absolute
            top:0
            left:0.04rem
            height:0.1rem
            image-wauto('logo.png')
        .music
            width:0.037rem
            height:0.039rem
            position:absolute
            right:0.114rem
            top:0
            image-hauto('music-close.png')
        .music-play
            image-hauto('sound-open.png')
        .share
            width:0.037rem
            height:0.04rem
            position:absolute
            right:0.04rem
            top:0
            image-wauto('share.png')
    .loading-background
        position:absolute
        top:0
        left:0
        width:100%
        height:100%
        background('loading-background.jpg')
        .num
            position:absolute
            top:50%
            font-size:25px
            width:100%
            text-align:center
            color:#fff
            margin-top:-35px
            font-family:font
        .processing
            position:absolute
            top:50%
            border-bottom:1px solid #fff
            left:25%
            width:0
    .introduct
        display:none
        position:absolute
        width:100%
        height:100%
        background('0.jpg')
        .title1
            position:absolute
            height:1rem
            top:0.2rem
            width:100%
            image-wauto('title-1.png')
            left:0
        .title12
            position:absolute
            height:1rem
            top:0.2rem
            width:100%
            image-wauto('title-12.png')
            left:0
            display:none
        .title2
            position:absolute
            height:1rem
            top:0.2rem
            width:100%
            image-wauto('title-2.png')
            left:0
            display:none
    .background-cla
        display:none
        position:absolute
        top:0
        left:0
        width:100%
        height:100%
        z-index:1000
        select,input
            &:focus
                outline:none
        .ask-area
            width:0.9rem
            margin:0.33rem auto 0 auto
            background-color:#070705
            color:#fff
            position:relative
            border:1px solid #353631
            border-radius:2px
            .ask-close
                width:0.08rem
                height:0.08rem
                image-wauto('close.jpg')
                position:absolute
                right:0.02rem
                top:0.02rem
            .ask-title
                margin:0.06rem 0
                image-hauto('ask-title.jpg')
                height:0.08rem
            .line
                margin:0.04rem 0.06rem
                display:-webkit-flex
                position:relative
                white-space:nowrap
                overflow:hidden
                font-size:14px

                .important
                    width:0.04rem
                    display:inline-block
                    text-align:left
                .word
                    font-size:14px
                    display:inline-block
                    text-align:center
                .line-cut-name
                    flex:7
                    position:relative
                    white-space:nowrap
                    overflow:hidden
                .input-dashline
                    background-color:transparent
                    color:#fff
                    border-bottom:1px dashed #353631
                    border-left:none
                    border-right:none
                    border-top:none
                    padding:0 0.02rem
                    margin:0 0.02rem
                    display:inline-block
                    width:100%
                    height:22px
                .line-cut-sex
                    position:relative
                    white-space:nowrap
                    overflow:hidden
                    padding-left:0.02rem
                    flex:5
                .check
                    margin-right:0.02rem
            .button-line
                margin-bottom:0.06rem
                .button
                    height:0.1rem
                    margin:0.06rem
                    image-wauto('sure.jpg')
                    border-bottom:1px dashed #353631
    .car1
        display:none
        position:absolute
        top:0
        left:0
        width:100%
        height:100%
        z-index:1000
        .car-area
            position:relative
            width:0.95rem
            margin:0.2rem auto 0 auto
            background-color:#000
            border:1px solid #dcdcdc

            .car-close
                position:absolute
                top:0.02rem
                right:0.02rem
                width:0.08rem
                height:0.08rem
                image-wauto('close.jpg')
            .car-banner
                image-wauto('car1-banner.jpg')
                width:96%
                margin:0 auto
                height:0.597rem
                margin-top:0.12rem
            .car-text
                image-wauto('car1-text.png')
                width:100%
                height:0.52rem
    .car2
        display:none
        position:absolute
        top:0
        left:0
        width:100%
        height:100%
        z-index:1000
        .car-area
            position:relative
            width:0.95rem
            margin:0.2rem auto 0 auto
            background-color:#000
            border:1px solid #dcdcdc

            .car-close
                position:absolute
                top:0.02rem
                right:0.02rem
                width:0.08rem
                height:0.08rem
                image-wauto('close.jpg')
            .car-banner
                image-wauto('car2-banner.jpg')
                width:96%
                margin:0 auto
                height:0.597rem
                margin-top:0.12rem
            .car-text
                image-wauto('car2-text.png')
                width:100%
                height:0.5rem
    .car3
        display:none
        position:absolute
        top:0
        left:0
        width:100%
        height:100%
        z-index:1000
        .car-area
            position:relative
            width:0.95rem
            margin:0.2rem auto 0 auto
            background-color:#000
            border:1px solid #dcdcdc

            .car-close
                position:absolute
                top:0.02rem
                right:0.02rem
                width:0.08rem
                height:0.08rem
                image-wauto('close.jpg')
            .car-banner
                image-wauto('car3-banner.jpg')
                width:96%
                margin:0 auto
                height:0.597rem
                margin-top:0.12rem
            .car-text
                image-wauto('car3-text.png')
                width:100%
                height:0.5rem
            
    .submit-success
        display:none
        position:absolute
        top:0
        left:0
        width:100%
        height:100%
        background('submit-success.jpg')
    .share-text
        display:none
        position:absolute
        top:0
        width:100%
        height:100%
        left:0
        background-image:url('/static/image/share-text.png')
        background-color:#000
        background-repeat:no-repeat
        background-position:top
        background-size:100% auto
        z-index:100000
