@import '../../bower_components/normalize.css/normalize.css'

body
    .background
        width:100%
        height:100%
        position:absolute
        background:url('/static/image/login.jpg') no-repeat center center ;
        background-size:100% 100%
        input
            display:block
            height:30px
            width:300px
            margin:0 auto
            background:#333
            color:#c5c5c5
            border:1px solid #333
            border-radius:2px
        #uname
            margin-top:300px
        #upwd
            margin-top:20px
        #submit
            width:80px
            height:25px
            line-height:25px
            text-align:center
            background:#333
            color:#c5c5c5
            margin:0 auto
            margin-top:50px
            border:1px solid #333
            border-radius:2px
            cursor:pointer
            
