doctype html
html(lang="en",ng-app="app")
    head
        title= "梅赛德斯奔驰"
        meta(name="viewport",content="width=device-width,user-scalable=no")
        meta(http-equiv="Content-Type",content="text/html",charset="utf-8")
        link(href="/static/css/backend.css",rel="stylesheet",type="text/css")
        script(src="/static/js/backend.js",language="javascript")
    body(ng-controller="backendCtrl")
        div.container
            button.btn.btn-primary(style="margin-top:20px",ng-click="download()") 下载信息
            table.table.table-striped
                tr
                    th id
                    th 姓名
                    th 手机号
                    th Email
                    th 性别
                    th 供应商
                tr(ng-repeat="i in data")
                    td {{ i.id }}
                    td {{ i.name }}
                    td {{ i.mobile }}
                    td {{ i.sex }}
                    td {{ i.email }}
                    td {{ i.service_name }}
